.module-league-observer-cockpit {
  padding: 1rem;
}

h2 {
  font-weight: bold;
}

h3 {
  margin: 1rem;
}

.events {
  text-align: center;
}

.teams {
  position: sticky;
  top: 10%;
  left: 5%;
  width: fit-content;
}

.picker {
  display: flex;
  width: fit-content;
}

.picker label {
  --outline-width: 1px;
  --border-radius: 10px;
  padding: 0.75rem;
  margin: 0;
  font-size: 1.5rem;
  font-weight: bold;
  text-shadow: calc(-1 * var(--outline-width)) calc(-1 * var(--outline-width)) 0 #000,
    var(--outline-width) calc(-1 * var(--outline-width)) 0 #000,
    calc(-1 * var(--outline-width)) var(--outline-width) 0 #000,
    var(--outline-width) var(--outline-width) 0 #000;
    transition: background-color 0.2s ease-in-out;
}

.order {
  border-radius: var(--border-radius) 0 0 var(--border-radius);
  border: 1px solid #000;
}

.chaos {
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
  border: 1px solid #000;
}

#blue:checked ~ .order {
  background-color: var(--blue-team-dark);
}

#red:checked ~ .chaos {
  background-color: var(--red-team-dark);
}

.picker input {
  display: none;
}

.dragons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: fit-content;
  margin: auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 128px);
  gap: 2rem;
  width: fit-content;
  margin: auto;
}

.events button {
  max-width: 128px;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 20px;
  box-shadow: 0 0 0 2px #e0e0e0;
  transition: all 0.2s ease-in-out;
  position: relative;
}

.events button:hover {
  filter: brightness(0.75);
  box-shadow: 0 0 0 3px #a0a0a0;
}

img {
  border-radius: inherit;
}

.title {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: end;
  inset: 0;
  top: 75%;
  font-size: 1.5em;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 0 0 20px 20px;
}

@media (max-width: 1024px) {
  .grid {
    grid-template-columns: repeat(2, 128px);
  }
}